
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/cupsofbeans.jpeg');
  background-size: cover;
  background-position: center;
}

.container {
  display: grid;
  grid-template-rows: 5vh 10vh 5vh 75vh 5vh;
  height: 100vh;
  grid-template-columns: 5vw 90vw 5vw;
}

.header {
  justify-items: center;
  grid-row: 2;
  grid-column: 2;
  background-color: #4d3e3899;
  color: #d1c8c5;
  border-radius: 10px;
  text-overflow: ellipsis;
}

p.brand {
  font-size: 6vh;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
  margin: 0;
}

p.tagline {
  font-size: 2vh;
  text-align: center;
  font-family: 'Quattrocento', serif;
  margin:0;
}

.main-body {
  display: grid;
  grid-row: 4;
  grid-column: 2;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 1fr 1fr 1fr 5%;
  background-color: #4d3e3899;
  border-radius: 10px;
}

.search-results {
  grid-row: 2/5;
  grid-column: 1/2;
  color: #fff4f1;
}

#coffees {
  text-align: left;
  padding: 1em 0;
  grid-row: 2 / 5;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: row;
  max-height: 65vh;
  overflow: scroll;
}

.coffeeName {
  padding-top: 0.6em;
  display: inline-flex;
  align-self: center;
  font-size: 3vh;
  justify-self: center;
  grid-column: auto;
  grid-row: auto;
}

.roastLevel {
  font-size: 2vw;
  font-style: italic;
  justify-self: center;
  grid-column: auto;
  grid-row: auto;
}



div.coffee-search {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 33% 33% 33%;
    grid-column: 2/3;
    grid-row: 1/4;
}


* {
    box-sizing: border-box;
}

select {
    font-family: 'Quattrocento', serif;
    font-size: 1rem;
    text-align: center;
}

#roast {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}

select#roastSelection,
select#roastSelection2{
    position: relative;
    top: 5vh;
    width: 100%;
}
.search {
    font-family: 'Quattrocento', serif;
    font-size: 13px;
    font-weight: bold;
}

#roastSelection,
#roastSelection {
    padding-left: 10%;
    padding-right: 10%;
    height: 35px;
}

#coffeeSearch {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 15px;
    font-family: 'Quattrocento', sans-serif;
    height: 30px;
    position: relative;
    margin-left: 0;
    text-align: center;
}

.searchBar {
    position: relative;
    text-align: center;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;

}

.searchBar input {
    position: relative;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0.3s;
    width: 100%;
    top: 5vh;
}

.searchBar input:focus {
    transition-delay: 0s;
    width: 100%;
}

.searchBar button {
    transition: all 0.3s ease-in-out;
}

.add-Coffee{
    position: relative;
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
}



.add-coffee,
#addCoffee {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 15px;
    font-family: 'Quattrocento', sans-serif;
    height: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-left: 0;
    border-radius: 5px;
    top: 3vh;
}
