html, body, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Grid Templates by screen size */
@media (min-width: 320px) {
  /* main wrapper */
  .wrapper {
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 5vh 20vh 70vh 5vh;
  }

  /* header elements */
  .header {
    align-self: center;
    text-align: center;
    grid-row: 2;
    grid-column: 2/3;
  }

  p.brand {
    font-size: 2rem;
  }

  p.tagline {
    font-size: 1rem;
  }

  /* main body wrapper */
  .main-body {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-row: 3;
    grid-column: 2;
  }

  .search-results {
    grid-row: 2;
  }

  #coffees {
    height: 100%;
    overflow: scroll;
  }

  .card-container {
    height: 35vh;
    text-align: center;
    width: 70%;
    margin: 5rem auto;
    box-shadow: 0 10px 10px 0px #777;
  }

  div.container {
    padding: 2rem;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
